---
title: Posts from the Fediverse
permalink: /fediverse/index.html
description: 'A list of posts from the Fediverse.'
layout: page
sizes: '(max-width: 615px) 50vw, 100vw'
widths: [400, 520]
---

{% include "partials/fediverse-posts.njk" %}
